/*=====Fonts=====*/
/*Roboto*/
@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), local('Roboto-Regular'), url('../fonts/Roboto.woff2') format('woff2'), url('../fonts/Roboto.woff') format('woff'), url('../fonts/Roboto.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/*Jost*/
@font-face {
  font-family: 'Jost';
  src: local('Jost* Book'), local('Jost-Book'), url('../fonts/Jost_book.woff2') format('woff2'), url('../fonts/Jost_book.woff') format('woff'), url('../fonts/Jost_book.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/*=====End Fonts=====*/

/*=====Styles root=====*/
:root {
  --font-main-color: #56593D;
  --font-second-color: #ffffff;
  --site-color: #FFFFEF;
  --bg-main-color: #ffffff;
}
html {
  -webkit-box-sizing: border-box;
    box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 10px;
  line-height: 10px;
}
@media (max-width: 1024.99px) {
  html {
    font-size: 9px;
    line-height: 17px;
  }
}
@media (max-width: 768.99px) {
  html {
    font-size: 8px;
    line-height: 16px;
  }
}
@media (max-width: 540.99px) {
  html {
    font-size: 7px;
    line-height: 15px;
  }
}
html::-webkit-scrollbar {
  height: 5px;
  width: 10px;
  background-color: #f9f9fd;
  border-radius: 10px;
}
html::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--font-main-color);
}
html::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #f9f9fd;
}
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}
a:visited {
  opacity: 0.7;
}
a:hover,
a:active,
button:hover {
  opacity: 0.7;
  text-decoration: underline;
}
a.active:hover,
button.active:hover {
  opacity: 1;
}
img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
    object-fit: cover;
}
button[disabled] {
  cursor: not-allowed;
}
body {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  color: var(--font-main-color);
  line-height: 1.8rem;
  position: relative;
  min-height: 100%;
  background-color: var(--main-bg-color);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  font-size: 1px;
  white-space: nowrap;
  border: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(100%);
}
.hide-text {
  overflow: hidden;
  padding: 0;
  text-indent: 101%;
  white-space: nowrap;
}
.truncate-text {
  -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.container {
  max-width: 1380px;
  margin: 0 auto;
  padding: 0 1rem;
}
/* Показать границы блока */
.show-block {
  outline: 5px solid rgba(255, 0, 0, 0.5);
  outline-offset: -5px;
}
/*=====END Styles root=====*/

/*=====Header=====*/
.header {
  border-top: 1.6rem solid var(--site-color);
}
.header__mobile {
  display: none;
}
@media (max-width: 700.99px) {
  .header__mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1.6rem solid var(--font-main-color);
    background-color: var(--site-color);
    padding: 0 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    color: var(--font-second-color);
    z-index: 99;
    transition: all 0.5s ease;
  }
}
.header__content-wrap {
  display: flex;
  align-items: center;
  padding: 3.2rem 0 2rem;
  margin-bottom: 2.4rem;
  transition: all .5s ease;
}
@media (max-width: 768.99px) {
  .header__content-wrap {
    flex-wrap: wrap;
  }
}
@media (max-width: 700.99px) {
  .header__content-wrap {
    position: fixed;
    width: 75%;
    height: calc(100vh + 90px);
    background-color: var(--site-color);
    opacity: .9;
    left: 0;
    margin: 0;
    top: 0;
    z-index: 99;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 15rem;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
.js-mobile-nav.opened {
  transform: translateX(35%);
}
.header__logo {
  flex-shrink: 0;
  width: 9rem;
}
@media (max-width: 700.99px) {
  .header__logo {
    display: none;
  }
}

/* nav */
.nav__list {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  line-height: 2.5rem;
  letter-spacing: 1.575px;
  text-transform: uppercase;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media (max-width: 700.99px) {
  .nav__list {
    gap: 5rem;
    flex-direction: column;
    align-items: center;
    font-size: 4rem;
  }
}
.nav__item {
  margin-right: 3.9rem;
}
.nav__item:first-child {
  margin-right: 6.3rem;
}
.nav__item:last-child {
  margin-right: 15.1rem;
}

/* user-nav */
.user-nav {
  display: flex;
  align-items: center;
  max-width: 13.6rem;
  list-style-type: none;
  margin: 0 0 0 auto;
  padding: 0;
}
@media (max-width: 700.99px) {
  .user-nav {
    max-width: 100%;
  }
}
.user-nav__item:nth-child(2) {
  margin: 0 2rem;
}
@media (max-width: 700.99px) {
  .user-nav,
  .nav__item,
  .nav__item:first-child,
  .nav__item:last-child {
    margin: 0;
  }

}

/* cart */
.cart {
  position: relative;
}
.cart__count {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  background-color: var(--site-color);
  border-radius: 2rem;
  bottom: -0.5rem;
  right: -0.4rem;
}
/*=====END Header=====*/

/*=====Promo=====*/
.shadow {
  -webkit-box-shadow: 0px 5px 6px -4px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 0px 5px 6px -4px rgba(0, 0, 0, 0.47);
  box-shadow: 0px 5px 6px -4px rgba(0, 0, 0, 0.47);
}
.promo__wrap {
  min-height: 732px;
  background-image: url(../img/promo_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 1.6rem solid var(--site-color);
  padding: 6.4rem;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: flex-end;
}
@media (max-width: 700.99px) {
  .promo__wrap {
    min-height: 500px;
    margin-top: 70px;
  }
}
.promo__text {
  font-size: 1.8rem;
  line-height: 2.2rem;
  text-align: right;
  letter-spacing: 1.8px;
  margin: 0 0 1rem;
}
.promo__subtitle {
  font-size: 4.5rem;
  line-height: 6rem;
  font-weight: normal;
  text-align: right;
  margin: 0 0 2.5rem;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: var(--font-main-color);
  color: var(--site-color);
}
.promo__btn {
  width: 15.4rem;
  height: 5.6rem;
  background-color: var(--font-main-color);
  font-size: 1.6rem;
  line-height: 2.2rem;
  letter-spacing: 1.575px;
  text-transform: uppercase;
  color: var(--site-color);
  margin-left: auto;
}
/*=====END Promo=====*/

/*=====Slogan=====*/
.slogan__wrap {
  padding: 8.8rem 8.3rem 8.9rem;
}
.slogan__text {
  margin: 0 0 2.6rem;
  font-size: 5.7rem;
  line-height: 8.1rem;
  text-align: center;
}
.slogan__links {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 6.8rem;
}
.slogan-links__link {
  padding: 0 0.5rem;
  font-size: 1.6rem;
  line-height: 2.6rem;
  text-align: center;
  letter-spacing: 1.6px;
  border-bottom: 0.2rem solid var(--font-main-color);
}
.slogan-links__link:hover {
  text-decoration: none;
}
/*=====END Slogan=====*/

/*=====Shop=====*/
.shop__wrap {
  padding: 6.4rem 3.2rem;
  background-color: var(--site-color);
  margin-bottom: 2.3rem;
}
.shop__subtitle {
  font-size: 2.4rem;
  line-height: 3.2rem;
  text-align: center;
  font-weight: normal;
  margin: 0 0 8rem;
}
.shop__cards {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  justify-content: space-between;
}
@media (max-width: 700.99px) {
  .shop__cards {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.shop__item {
  margin: 0;
}
.shop-card__name {
  font-size: 1.6rem;
  line-height: 2.2rem;
  text-align: center;
  margin-top: 1.5rem;
}
.shop-card__price {
  font-size: 1.6rem;
  line-height: 2.6rem;
  text-align: center;
  letter-spacing: 1.62px;
  color: #717353;
  margin-top: 0.7rem;
}
/*=====END Shop=====*/

/*=====Essentials=====*/
.essentials__wrap {
  min-height: 732px;
  background-image: url(../img/essential_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 1.6rem solid var(--site-color);
  padding: 6.2rem;
  margin-bottom: 2.4rem;
}
@media (max-width: 700.99px) {
  .essentials__wrap {
    min-height: 500px;
  }
}
.essentials__title {
  margin: 0 0 1.1rem;
  font-size: 1.7rem;
  line-height: 2.2rem;
  text-align: center;
  letter-spacing: 1.8px;
  font-weight: normal;
  text-transform: uppercase;
}
.essentials__text {
  font-weight: normal;
  font-size: 5rem;
  line-height: 6rem;
  text-align: center;
  margin: 0;
}
/*=====END Essentials=====*/

/*=====about=====*/
.about__wrap {
  min-height: 746px;
  background-color: var(--site-color);
  padding: 6.4rem 3.2rem;
  margin-bottom: 2.4rem;
}
.about__wrap:last-child {
  margin-bottom: 4rem;
}
.about__article {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
@media (max-width: 1024.99px) {
  .about__article {
    flex-direction: column;
    align-items: center;
  }
  .article-about__img {
    order: 2;
  }
}
.article-about__descr-wrap {
  max-width: 521px;
  padding: 6.2rem 8.7rem;
}
.article-about__title {
  margin: 0;
  font-weight: normal;
  font-size: 2.9rem;
  line-height: 3.9rem;
  text-align: center;
}
.article-about__line {
  width: 40px;
  height: 1px;
  border: none;
  background-color: #717353;
  margin: 3.2rem auto;
}
.article-about__text {
  font-family: Jost;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 3.2rem;
  text-align: center;
  margin: 0;
}
/*=====END about=====*/

/*=====newsletter=====*/
.newsletter__wrap {
  background-color: var(--site-color);
  margin: 0 1.6rem 4rem;
  padding: 6.3rem;
}
.newsletter__title {
  margin: 0 0 1.6rem;
  font-weight: normal;
  font-size: 2.8rem;
  line-height: 3.9rem;
  text-align: center;
}
.newsletter__text {
  margin: 0 0 3.1rem;
  font-size: 1.7rem;
  line-height: 2.9rem;
  text-align: center;
}
.form {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 1.6rem;
}
.input--mail {
  min-width: 340px;
  background-color: inherit;
  text-align: center;
  border: none;
  border-bottom: 1px solid #56593D;
}
@media (max-width: 700.99px) {
  .input--mail {
    min-width: auto;
  }
}
.btn--submit {
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 2.3rem;
  text-align: center;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  width: 144px;
  height: 22px;
}
.btn--submit:hover {
  cursor: pointer;
}
/*=====END newsletter=====*/

/*=====moments=====*/
.moments__wrap {
  min-height: 520px;
  padding: 6.4rem 3.2rem;
  background-color: var(--site-color);
  margin-bottom: 12.8rem;
}
@media (max-width: 1024.99px) {
  .moments__wrap {
    min-height: auto;
  }
}
.moments__photos {
  display: flex;
  column-gap: 0.5rem;
  justify-content: space-between;
}
@media (max-width: 700.99px) {
  .moments__photos {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.moments__text {
  margin: 0 0 3.1rem;
  font-weight: normal;
  font-size: 2.5rem;
  line-height: 3.2rem;
  text-align: center;
}
/*=====END moments=====*/

/*=====footer=====*/
.footer {
  min-height: 382px;
  background-color: #717353;
  color: var(--site-color);
}
@media (max-width: 700.99px) {
  .footer {
    min-height: auto;
  }
}
.footer__wrap {
  display: flex;
  padding-top: 6.4rem;
  padding-bottom: 9.7rem;
}
@media (max-width: 700.99px) {
  .footer__wrap {
    flex-direction: column;
    align-items: center;
    gap: 5rem;
  }
}
.footer__nav {
  display: flex;
  margin: 0;
}
@media (max-width: 768.99px) {
  .footer__nav {
    order: -1;
  }
}
.footer__nav-wrap {
  padding: 0 3.2rem;
  max-width: 253px;
}
@media (max-width: 768.99px) {
  .footer__nav-wrap {
    padding: 0;
    max-width: 156px;
  }
}
.footer__nav-wrap:first-child {
  margin-right: 9.5rem;
}
.footer__descr {
  margin: 0;
}
.footer__title {
  margin: 0 0 1.7rem;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 1.9rem;
  letter-spacing: 1.575px;
  text-transform: uppercase;
}
.footer__copyrights {
  margin-right: 12.4rem;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 2.5rem;
}
@media (max-width: 1024.99px) {
  .footer__copyrights {
    margin-right: 6rem;
  }
}
@media (max-width: 700.99px) {
  .footer__copyrights {
    margin-right: 0;
  }
}
.copyrights__title {
  margin: 0 0 1.7rem;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 2.5rem;
}
.copyrights__span {
  font-size: 1.5rem;
}
.copyrights__text {
  margin: 0;
  max-width: 256px;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 2.5rem;
}
.footer__under-title-line {
  border: none;
  background-color: var(--site-color);
  height: 1px;
  width: 40px;
  margin: 1.5rem 0;
}
.socials {
  display: flex;
  align-items: flex-start;
  list-style-type: none;
  margin: 0 0 0 auto;
  padding: 0;
}
@media (max-width: 700.99px) {
  .socials {
    margin: 0;
  }
}
.socials__item {
  margin-left: 1.9rem;
  flex-shrink: 0;
}
.footer__nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer__nav-item {
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 2.5rem;
  letter-spacing: 1.575px;
  text-transform: uppercase;
  margin-bottom: 0.9rem;
}
/*=====END footer=====*/
